<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
     <!-- <p><a [routerLink]="['/login']">Logout</a></p> -->
      <h1>Hi {{currentUser}}!</h1>
<my-notification></my-notification>
<div class="logo">{{name}}</div>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul>
<nav>
  <a routerLink="/room-list" routerLinkActive="active">Pokaż pokoje</a>
  <a routerLink="/about">About</a>
  <a routerLink="/new-room">Utwórz nowy pokój</a>
  <a routerLink="/login">Podaj nick</a>
</nav>

<div id="content">
  <router-outlet></router-outlet>
</div>
    </div>
  </div>
</div>

