.notifications {
  top: 10%;
}
.notifications div {
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.22), 0 17px 20px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  margin-bottom: .5em;
  min-height: 3em;
  padding: 1em;
  text-align: center;
  width: 900px;
}
.notifications div.success {
  background-color: #36f26b;
  border-color: #09862c;
  color: #000000;
}
.notifications div.error {
  background-color: #ff3a41;
  border-color: #ff0710;
  color: #070000;
}
.notifications div.warn {
  background-color: #fafe32;
  border-color: #939601;
  color: #0d0d00;
}
.notifications div.info {
  background-color: #a3d5f8;
  border-color: #1594ed;
  color: #0b5a91;
}
